[submodule ".registry"]
	path = .registry
	url = https://github.com/baptiste/universe
	branch = HEAD
[submodule "egg"]
	path = egg
	url = https://github.com/baptiste/egg
[submodule "gridextra"]
	path = gridextra
	url = https://github.com/baptiste/gridextra
[submodule "minixcali"]
	path = minixcali
	url = https://github.com/baptiste/minixcali
[submodule "ggflags"]
	path = ggflags
	url = https://github.com/baptiste/ggflags
